# ────────────────────────────────
# Environment & Secrets
# ────────────────────────────────
.env
.env.*

# ────────────────────────────────
# JetBrains IDEs
# ────────────────────────────────
*.iml
.idea
.run

# ────────────────────────────────
# Mock Bucket
# ────────────────────────────────
/backend/node/uploads/*

# ────────────────────────────────
# Node
# ────────────────────────────────
node_modules

# ────────────────────────────────
# Python
# ────────────────────────────────
__pycache__

# ────────────────────────────────
# Vite
# ────────────────────────────────
*.vite
