.modal-description-input {
    background: inherit;
    border: none;
    color: inherit;
    font: inherit;
    resize: none;
    width: 100%;
}

.modal-title-input {
    background: inherit;
    border: none;
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: bold;
    padding: 0;
    width: 100%;
}
