# ────────────────────────────────
# Environment & Secrets
# ────────────────────────────────
.env
.env.*

# ────────────────────────────────
# Git
# ────────────────────────────────
.git
.gitignore

# ────────────────────────────────
# JetBrains IDEs
# ────────────────────────────────
*.iml
.idea

# ────────────────────────────────
# Node
# ────────────────────────────────
node_modules

# ────────────────────────────────
# Python
# ────────────────────────────────
__pycache__
