:root {
    --background-color: #F8F9FA;
    --border-radius: 6px;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    --button-text-color: #F8F9FB;
    --font-family: "Arial", sans-serif;
    --primary-color: #4893C6;
    --primary-hover: #64A4CE;
    --secondary-color: #8DBEDC;
    --secondary-hover: #B7D7EA;
    --text-color: #212529;
}
